absl-py==0.14.1
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
audioread==2.1.9
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
clang==5.0
cycler==0.10.0
decorator==5.1.0
efficientnet-pytorch==0.7.1
flatbuffers==1.12
frozenlist==1.2.0
fsspec==2021.11.1
future==0.18.2
fvcore==0.1.5.post20220212
gast==0.4.0
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.0
h5py==3.1.0
idna==3.3
iopath==0.1.9
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
librosa==0.8.1
llvmlite==0.37.0
Markdown==3.3.4
matplotlib==3.4.3
mkl-fft==1.3.0
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
multidict==5.2.0
numba==0.54.1
numpy==1.20.0
oauthlib==3.1.1
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.3
Pillow @ file:///tmp/build/80754af9/pillow_1625655408865/work
pooch==1.5.2
portalocker==2.4.0
protobuf==3.18.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.2
pytorch-lightning==1.1.8
pytorch-lightning-bolts @ git+https://github.com/PytorchLightning/pytorch-lightning-bolts.git@1bec12200ff60b9b58277b40d9232933e1aa9dbe
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.7.1
simplejson==3.17.6
six @ file:///tmp/build/80754af9/six_1623709665295/work
SoundFile==0.10.3.post1
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.0.0
torch==1.10.1
torchaudio==0.10.1
torchvision==0.11.2
tqdm==4.62.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.12.1
yacs==0.1.8
yarl==1.7.2
